*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    height:100vh;
    background: #2F308B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    align-items: center;
    background: #18283B;
    color: aliceblue;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

ul li a{
     text-decoration: none;
    color: #8291a5;
    padding: 8px 30px;
    border-radius: 7px;
     

}
ul li a:hover, ul li a:active{
    color: #fff;
    background: rgba(137, 137, 143, 0.333);

}
